:root {
    --selected-icon-bg-color: #dfdfdf;
}

body {
    position: relative;
    margin: 0px;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica,
        Arial, sans-serif;
}

#whiteboardContainer {
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
}

#presentationContainer .fullscreen .xCanvasBtn {
    display: inline !important;
}

#presentationContainer .fullscreen .fullscreenButton {
    display: none !important;
}

#presentationContainer .fullscreen > img {
    margin: auto !important;
    position: relative !important;
    display: block !important;
}

#presentationContainer .fullscreen {
    border: none !important;
}

#presentationContainer .fullscreen .rotationHandle {
    display: none !important;
}

#presentationContainer .fullscreen .fa-sort-down {
    display: none !important;
}

.btn-group button {
    background: #e0e2e5;
    margin: 1px;
    /* Green border */
    color: #737d8c;
    /* White text */
    padding: 5px 5px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
    border: none;
    border-radius: 8px;
    font-size: 0.8em;
    height: 32px;
    width: 32px;
}

.btn-group button:hover,
.btn-group button.active {
    background: #737d8c;
    color: #e0e2e5;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#pageLoader {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#pageLoader > div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 6px solid #0dbd8b;
    border-color: #0dbd8b transparent #0dbd8b transparent;
    animation: rotate 1.2s linear infinite;
}

.dark #pageLoader {
    background-color: #363c44;
}

body.dark {
    background-color: #363c44;
}

.dark .btn-group button {
    background: #21262b;
    color: #a9b2bc;
}

.dark .btn-group button i {
    color: #a9b2bc;
}

.dark .btn-group button:hover,
.dark .btn-group button.active {
    background-color: #e0e2e5;
    color: #21262b;
}

.dark #whiteboardLockBtn {
    color: #21262b;
}

@media (max-device-width: 1024px) {
    .btn-group button {
        font-size: 0.8em;
        height: 32px;
        width: 32px;
    }

    .minGroup {
        width: 80px;
    }
}

@media (min-device-width: 1024px) {
    .btn-group button {
        font-size: 0.8em;
        height: 32px;
        width: 32px;
    }

    .minGroup {
        width: 30px;
    }
}

button::-moz-focus-inner {
    border: 0;
}

.whiteboard-edit-group.group-disabled {
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 166, 0, 0.366),
        rgba(255, 166, 0, 0.366) 10px,
        rgba(255, 166, 0, 0.666) 10px,
        rgba(255, 166, 0, 0.666) 20px
    );
    /* border-radius for non admin users when button group is disabled */
    border-radius: 8px;
}

/*
 * Deactivate all pointer events on all the children
 * of a group when it's disabled.
 */
.whiteboard-edit-group.group-disabled > * {
    pointer-events: none;
    background-color: transparent;
}
.whiteboard-edit-group.group-disabled > button.active {
    background-color: transparent;
    color: #a9b2bc;
}

/* Clear floats (clearfix hack) */

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */

button {
    outline-width: 0;
}

.btn-group {
    margin-left: 5px;
    margin-bottom: 5px;
    float: left;
    position: relative;
}

#whiteboardThicknessSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 3px;
    background: transparent;
    outline: none;
    opacity: 1;
    -webkit-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

.textBox.active {
    border: 1px dashed gray;
}

.textBox > .removeIcon,
.textBox > .moveIcon {
    display: none;
}

.textBox.active > .removeIcon,
.textBox.active > .moveIcon {
    display: block;
}

.modalBtn {
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    min-width: 50px;
    cursor: pointer;
}

#displayWhiteboardInfoBtn.active {
    background: var(--selected-icon-bg-color);
}

#whiteboardInfoContainer {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.displayNone {
    display: none;
}

#shareWhiteboardDialog {
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.35);
    z-index: 10000000000000;
    position: absolute;
    top: 0;
    left: 0;
}

#shareWhiteboardDialogMessage {
    background-color: lightgreen;
    padding: 20px;
    font-weight: bold;
}

.shareWhiteboardDialogContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.shareWhiteboardDialogItem {
    padding: 5px;
    margin: 5px;
}
